.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}
body {
  background: url("/assets/NEUMORPHIC_CIRCLES_BACKGROUND.jpg") no-repeat center
    center/cover;
  z-index: -1000;
}

.contact-container {
  background: url("/assets/gaming3.jpg") no-repeat center center/cover;
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  position: relative;
  overflow: hidden;
  animation: fadeInUp 1s ease forwards;
  animation-duration: 1200ms;
  opacity: 0;
  z-index: 100;
}
.contact-container:hover {
  box-shadow: 0px 0px 15px #ff7f50;
  transition: 1000ms;
}

.contact-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ff7f50;
  text-align: center;
}

.contact-text {
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
  color: #f4f4f4;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  position: relative;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #2a2a2a;
  color: #f4f4f4;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  background: #3a3a3a;
}

.form-group input:focus + label,
.form-group textarea:focus + label {
  top: 5px;
  font-size: 0.8rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.form-group input:not(:placeholder-shown) + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: 1px;
  font-size: 0.8rem;
  color: #ff7f50;
}

.btn1 {
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  background: #ff7f50;
  border: none;
  border-radius: 5px;
  color: #121212;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn1:hover {
  background: #ff5733;
  transform: translateY(-2px);
}

.btn1:active {
  transform: translateY(2px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    padding: 20px;
  }

  .contact-heading {
    font-size: 1.5rem;
  }
}
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(0, 128, 0, 0.9);
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: none;
  animation: fadeInOut 3s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  20%,
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700i,900i";
* {
  box-sizing: border-box;
}

body {
  color: #acaabe;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3b3d54;
  font-size: 14px;
  overflow: hidden;
}

.wrap {
  perspective-origin: 30% 30%;
  width: 100%;
  height: fit-content;
}

.svg {
  stroke: #ff8400;
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}

.svg:nth-child(1) {
  left: 84%;
  -webkit-animation: raise1 19s linear infinite;
  animation: raise1 19s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  transform: scale(-0.3) rotate(216deg);
  z-index: -6;
  filter: blur(-5px);
}
@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(223deg);
  }
}
@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(223deg);
  }
}

.svg:nth-child(2) {
  left: 13%;
  -webkit-animation: raise2 7s linear infinite;
  animation: raise2 7s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  transform: scale(0) rotate(208deg);
  z-index: -5;
  filter: blur(-4px);
}
@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(318deg);
  }
}
@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(318deg);
  }
}

.svg:nth-child(3) {
  left: 58%;
  -webkit-animation: raise3 10s linear infinite;
  animation: raise3 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  transform: scale(0.3) rotate(119deg);
  z-index: -4;
  filter: blur(-3px);
}
@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(30deg);
  }
}
@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(30deg);
  }
}

.svg:nth-child(4) {
  left: 56%;
  -webkit-animation: raise4 21s linear infinite;
  animation: raise4 21s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  transform: scale(0.6) rotate(150deg);
  z-index: -3;
  filter: blur(-2px);
}
@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(168deg);
  }
}
@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(168deg);
  }
}

.svg:nth-child(5) {
  left: 80%;
  -webkit-animation: raise5 21s linear infinite;
  animation: raise5 21s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  transform: scale(0.9) rotate(359deg);
  z-index: -2;
  filter: blur(-1px);
}
@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(256deg);
  }
}
@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(256deg);
  }
}

.svg:nth-child(6) {
  left: 4%;
  -webkit-animation: raise6 17s linear infinite;
  animation: raise6 17s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  transform: scale(1.2) rotate(245deg);
  z-index: -1;
  filter: blur(0px);
}
@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(59deg);
  }
}
@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(59deg);
  }
}

.svg:nth-child(7) {
  left: 21%;
  -webkit-animation: raise7 18s linear infinite;
  animation: raise7 18s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  transform: scale(1.5) rotate(130deg);
  z-index: 0;
  filter: blur(1px);
}
@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(19deg);
  }
}
@keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(19deg);
  }
}

.svg:nth-child(8) {
  left: 86%;
  -webkit-animation: raise8 16s linear infinite;
  animation: raise8 16s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  transform: scale(1.8) rotate(114deg);
  z-index: 1;
  filter: blur(2px);
}
@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(155deg);
  }
}
@keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(155deg);
  }
}

.svg:nth-child(9) {
  left: 44%;
  -webkit-animation: raise9 19s linear infinite;
  animation: raise9 19s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  transform: scale(2.1) rotate(23deg);
  z-index: 2;
  filter: blur(3px);
}
@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(44deg);
  }
}
@keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(44deg);
  }
}

.svg:nth-child(10) {
  left: 8%;
  -webkit-animation: raise10 11s linear infinite;
  animation: raise10 11s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  transform: scale(2.4) rotate(298deg);
  z-index: 3;
  filter: blur(4px);
}
@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(134deg);
  }
}
@keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(134deg);
  }
}
