.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("/assets/gamin2.jpg") no-repeat center center/cover;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  color: #f4f4f4;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  animation: fadeInUp 1s ease forwards;
  animation-duration: 2000ms;
  opacity: 0;
}

.hero p {
  font-size: 1.5rem;
  color: #e0e0e0;
  animation: fadeInUp 1s ease forwards;
  animation-duration: 2000ms;
  opacity: 0;
}

.hero .btn {
  padding: 15px 30px;
  margin-top: 20px;
  font-size: 1.2rem;
  background: linear-gradient(45deg, #ff7f50, #ff4500);
  border: none;
  text-decoration: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  animation: fadeInUp 1s ease forwards;
  animation-duration: 2000ms;
  opacity: 0;
}

.hero .btn:hover {
  background: linear-gradient(45deg, #ff4500, #ff7f50);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.hero .btn:active {
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.button {
  display: flex;
}
.hero.loaded {
  opacity: 1; /* Fade in effect */
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* section */
